<div class="footer">
	<div class="row">
	<div class="col-sm-8">
	<a href="https://twitter.com/LucasPuente" target="_blank"> <img  class="img" alt="Twitter" src="http://lucaspuente.github.io/img/twitter-64.png"></a>
	<a href="https://www.linkedin.com/in/lucaspuente" target="_blank"> <img  class="img" alt="LinkedIn" src="http://lucaspuente.github.io/img/LinkedIn-64.png"></a>
	<a href="https://github.com/LucasPuente" target="_blank"><img  class="img" alt="Github" src="http://lucaspuente.github.io/img/GitHub-Mark-64px.png"></a>
	<!-- <p><small> 2016</small></p> -->
	</div>
	<div class="col-sm-4">
	<p class="pull-right"><small>Site Design: <a href="https://github.com/jmcglone/jmcglone.github.io" target="_blank">jmcglone</a> <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank"><img  class="img" alt="Creative Commons Attribution 3.0 Unported License" src="http://lucaspuente.github.io/img/cc.large.png" width="15" height="15""></a></small></p>
	</div>
	</div>
</div> <!-- /footer -->
